extends layout

block content
  div
      form#formAddUser(name="login", method="post", action="loginAgent")
        input#intPassCode(type="text", placeholder="login Id", name="loginid")
        input#intPassCode(type="text", placeholder="login pass code", name="passcode")
        button#btnSubmit(type="submit") login


      //-   h1 Credits #{credits}
      //- form#getCredits(name="credits", method="post", action="getCredits")
      //-   button#btnSubmit(type="submit") get credits

      form#formLoginAll(name="loginAll", method="post", action="loginAll")
        button#btnSubmit(type="submit") login All

      h1 Watch List       
      form#watchList(name="player", method="post", action="getWatchList")
        button#btnSubmit(type="submit") get watch list

      h1 Start Processing
      form#testAction(method="post", action="startprocessing")
        button#btnSubmit(type="submit") Start Processing

      h1 Stop processing
      form#stopProcessingAction(method="post", action="stopprocessing")
        button#btnSubmit(type="submit") Stop Processing