body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.table {
  display: table;
}
.table .header > div {
  display: table-cell;
  font-wieght: bold;
}
.table .body > div {
  display: table-cell;
}
